<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Missão CTF - Comunidade Hacker</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Missão CTF - Comunidade Hacker</h1>
  <p>Você consegue encontrar as <strong>FLAGS</strong> escondida?</p>

  <ul>
    <li><a href="/ver?arquivo=dicas.txt">📁 Ver arquivo público (dicas.txt)</a></li>
    <li><a href="/login">🔐 Login secreto</a></li>
    <li><a href="/upload">📤 Upload de arquivo</a></li>
    <li><a href="/flag">🚩 Enviar FLAG</a></li>
    <li><a href="/ranking">🏆 Ver ranking</a></li>
  </ul>

</body>
</html>
